@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #141414;
    color: white;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

a {
    text-decoration: none;
}

.primary-button {
    background-color: white;
    padding: 0.6vw 2vw;
    font-size: calc(10px + 0.5vw);
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    transition: background-color 150ms ease-in-out;
}

.primary-button:hover {
    background-color: #c1c1c1;
}

.secondary-button {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 0.6vw 2vw;
    font-size: calc(10px + 0.5vw);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    transition: background-color 150ms ease-in-out;
}

.secondary-button:hover {
    background-color: rgba(98, 98, 98, 0.6);
}