.new-film {
    width: 100%;
    height: 40vw;

    background-image: url('../images/new_film_background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.new-film > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #141414 0%, rgba(0,0,0,0) 15%);
}

.new-film > div > .new-film-age {
    margin-top: 30vw;
}

.new-film > div > .new-film-age > p {
    padding: 0.6vw 4vw 0.6vw 1vw;
    background-color: rgba(47, 47, 47, 0.6);
    border-left: 4px gray solid;
    font-weight: bolder;
    font-size: calc(10px + 0.4vw);
}

.new-film > div > .new-film-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3vw;
    width: 35vw;
}

.new-film > div > .new-film-info > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-film > div > .new-film-info > div > p {
    font-size: 1.2vw;
}

.new-film > div > .new-film-info > div > .new-film-actions {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}