.film-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}

.film-list-bar {
    display: flex;
    flex-direction: row;
}

.film-list > .film-list-title {
    margin-left: 2vw;
}

.film-list > .film-list-title > h2 {
    font-size: calc(12px + 0.8vw);
}

.film-list-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: hidden;
}

.film-list-action {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.film-list-action > img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 1vw;
}

.film-list-action-left > img {
    transform: rotate(180deg);
}

.film-list-action > a:hover {
    transform: scale(1.2);
}

.film-list-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.film-list-element:hover {
    transform: scale(0.95);
}

.film-list-element > img{
    border-radius: 5px;
    width: 16vw;
    height: 9vw;
}